/* Base HMTL and reset*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: url("./img/Rev-img-3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: "Kanit", sans-serif;
  text-shadow: white 0px 0px 1px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

/* 
*
*    Navigation
*
*/

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

header nav ul li {
  font-size: 4.2rem;
  margin: 2.5rem 5rem;
}

/* 
*
*    Hero
*
*/

.hero {
  display: flex;
  flex-grow: 15;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  margin-top: 10vh;
}

.hero > * {
  margin-left: 15%;
  margin-right: 54%;
}

.hero li {
  text-transform: uppercase;
  margin-left: 1.6rem;
}

.hero p {
  margin-top: 2rem;
  font-size: 3.2rem;
}

.hero a {
  margin-top: 2rem;
  text-transform: uppercase;
  border-bottom: 0.5rem solid white;
  width: 10.5rem;
}

.hero a:hover {
  text-decoration: none;
  cursor: pointer;
}
