/* Base HMTL and reset*/

.container {
  background: url("/Rev-img-3.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

/* 
*
*    Navigation
*
*/

.navFlexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navFlexItems {
  font-size: 4.2rem;
  margin: 2.5rem 5rem;
}

/* 
*
*    Hero
*
*/

.hero {
  display: flex;
  flex-grow: 15;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  margin-top: 10vh;
}

.hero > * {
  margin-left: 15%;
  margin-right: 54%;
}

.hero li {
  text-transform: uppercase;
  margin-left: 1.6rem;
}

.hero p {
  margin-top: 2rem;
  font-size: 3.2rem;
}

.hero a {
  margin-top: 2rem;
  text-transform: uppercase;
  border-bottom: 0.5rem solid white;
  width: 12.5rem;
}

.hero a:hover {
  text-decoration: none;
  cursor: pointer;
}
