/* 
*
*    Navigation
*
*/

.navFlexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navFlexItems {
  font-size: 4.2rem;
  margin: 2.5rem 5rem;
}
